@(message : String, currentPage: Page[Problem], currentOrderBy: Int, currentFilter: String, user : User = null, solutions : Seq[UserSolution] = null	)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@isSolved(problem: Problem, solutions : Seq[UserSolution]) = @{
     val ids = solutions.map (  _.problem_id.toString )
     if( ids.contains(problem.id.toString) ){
      true
     }else{
      false
     }
}

@writeSolutionsToJsObject(solutions:Seq[UserSolution]) = @{
  solutions.foreach( (s:UserSolution) => {
    "solution['"+s.problem_id+"'] = " + s.solution
  })
}

@firstUnsolvedProblem() = @{
 Option(currentPage.items).filterNot(_.isEmpty).map { problems =>
    val unsolvedProblem = 
        problems.find((p:Problem) => !isSolved(p, solutions))
    unsolvedProblem match{
      case None => problems.head.id
      case p: Option[Problem] =>  p.get.id
    }
   }.getOrElse(-1)
}

@countProblems() = @{
  Option(currentPage.items.size).getOrElse("?")
}

@countSolutions() = @{ solutions.size }

@htmlSafe(s:String) = @{
  var out = s.replace("\n", "\\n")
  //TODO: weirdness with emitting html characters here..
  out
}

@leftColumnContent = {
<div class="padded-10 max-width">
  <div>
    <a href="javascript:void(1)" id="runButton" class="btn btn-primary btn-large"><i class="icon-refresh"></i> Run</a>
  </div>
</div>

<pre id="editor">/* write your code here [Ctrl-R runs it]*/</pre>

<div class="errorBoxHolder padded-10">

  <div id="errorBox" class="alert alert-error invisible">
  </div>
</div>  
}


@postBodyScript = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/ProblemsView.js")"></script>
<script type="text/javascript">
  
  $(document).ready(function(){
      
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/twilight");
      editor.getSession().setTabSize(4);
      editor.setHighlightActiveLine(false);
      editor.setShowPrintMargin(false);
      editor.renderer.setShowGutter(false);
      var ScalaMode = ace.require("ace/mode/scala").Mode;
      editor.getSession().setMode(new ScalaMode());
      window.ace = (window.ace || {});
      window.ace.editor = editor;

      console.log("setting url to: /problems/solve")

      var existingSolutions = {};

      @solutions.map { s =>
      existingSolutions["@s.problem_id"] = "@htmlSafe(s.solution)";
      } 
      
      @writeSolutionsToJsObject(solutions)

        var view = new com.ee.ProblemsView("/problems/solve", 
            editor, 
            editor.getSession().getValue(),
            existingSolutions
            );

      var solvedSoFar = @countSolutions()
      var totalProblems = @countProblems()
      var firstUnsolvedId = @firstUnsolvedProblem();
      view.init(firstUnsolvedId, solvedSoFar, totalProblems);
      
      editor.commands.addCommand({
          name: 'myCommand',
          bindKey: {
              win: 'Ctrl-R',
              mac: 'Ctrl-R',
              sender: 'editor'
          },
          exec: function(env, args, request) {
            view.runCode();
          }
      });
      //init prettyPrint
      prettyPrint()
      


  });
</script>


}

@mainContent = {
<div class="info-box">
  <span id="solvedInfo" class="pull-left" style="padding-top: 5px;"></span>
    <span class="pull-right">
      <a href="javascript:void(1)" id="prevButton" class="btn btn-small btn-large">Previous</a>
      <a href="javascript:void(1)" id="nextButton" class="btn btn-small btn-large">Next</a>
    </span>
</div>
<div class="puzzles-holder">
  @Option(currentPage.items).filterNot(_.isEmpty).map { problems =>
    @problems.map { 
      case (problem) => {
        <div class="padded-10 max-width">
         @views.html.problems.puzzleContainer(problem, isSolved(problem, solutions))
        </div>   
      }
   }
  }.getOrElse {)
    <div class="well">
       <em>Nothing to display</em>
    </div>
  }
</div>
}


@main(message, user)(mainContent)(postBodyScript, leftColumnContent) 

