@(message : String, currentPage: Page[Problem], currentOrderBy: Int, currentFilter: String, user : User = null, solutions : Seq[UserSolution] = null	)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@isSolved(problem: Problem, solutions : Seq[UserSolution]) = @{
     val ids = solutions.map (  _.problem_id.toString )
     if( ids.contains(problem.id.toString) ){
      true
     }else{
      false
     }
}

@firstUnsolvedProblem() = @{
 Option(currentPage.items).filterNot(_.isEmpty).map { problems =>
    problems.find((p:Problem) => !isSolved(p, solutions)).get.id
   }.getOrElse(-1)
}

@leftColumnContent = {
<div class="padded-10 max-width">
  <div class="">
    <a href="javascript:void(1)" id="runButton" class="btn btn-primary btn-large"><i class="icon-refresh"></i> Run</a>
  </div>
</div>

<pre id="editor">/* write your code here [Ctrl-R runs it]*/</pre>

<div class="errorBoxHolder padded-10">

  <div id="errorBox" class="alert alert-error invisible">
  </div>
</div>  
}


@postBodyScript = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/ProblemsView.js")"></script>
<script type="text/javascript">
  $(document).ready(function(){
      
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/twilight");
      editor.getSession().setTabSize(4);
      editor.setHighlightActiveLine(false);
      editor.setShowPrintMargin(false);
      editor.renderer.setShowGutter(false);
      var ScalaMode = ace.require("ace/mode/scala").Mode;
      editor.getSession().setMode(new ScalaMode());
      window.ace = (window.ace || {});
      window.ace.editor = editor;

      console.log("setting url to: /problems/solve")
      var view = new com.ee.ProblemsView("/problems/solve", editor, editor.getSession().getValue());
      
      var firstUnsolvedId = @firstUnsolvedProblem();
      view.init(firstUnsolvedId);
      
      editor.commands.addCommand({
          name: 'myCommand',
          bindKey: {
              win: 'Ctrl-R',
              mac: 'Ctrl-R',
              sender: 'editor'
          },
          exec: function(env, args, request) {
            view.runCode();
          }
      });


  });
</script>


}

@mainContent = {
  @Option(currentPage.items).filterNot(_.isEmpty).map { problems =>
    @problems.map { 
      case (problem) => {
        <div class="padded-10 max-width">
         @views.html.problems.puzzleContainer(problem, isSolved(problem, solutions))
        </div>   
      }
   }
  }.getOrElse {)
    <div class="well">
       <em>Nothing to display</em>
    </div>
  }

}


@main(message, user)(mainContent)(postBodyScript, leftColumnContent) 

