@(title: String, user : User = null)(content: Html, postBodyContent:Html = null)
<!DOCTYPE html>
@head = {
    <head>
      <title>@title</title>
        @common.head()
    </head>
}

@body = {
<body>
  <div id="fb-root"></div>
  
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        @common.siteLogo()
     
        <div class="navbar">
            @common.user_bar()
          </ul>
        </div>
       </div>
    </div>
  </div>
  <div class="container-fluid nudge-top">
    <div class="row-fluid">
        @content
    </div>
  </div>
</body>
} 
@postBody = {
  @postBodyContent
}  

@root(head)(body)(postBody)

