@(title: String)(_content: Html)(implicit _head:Html = new Html(""), _postBody:Html = new Html(""), user:User = null, request : Request[AnyContent] = null)
<!DOCTYPE html>
@head = {
    <head>
      <title>@title</title>
        @common.head()
        @_head
    </head>
}

@body = {
<body>
  @common.facebookInit()
  @common.githubRibbon()
  @common.navBar(user,request)
  <div class="container-fluid nudge-top">
    <div class="row-fluid">
        @_content
    </div>
  </div>
</body>
} 
@postBody = {
  @_postBody
}  

@root(head)(body)(postBody)

