@(form: Form[(String,String)])(implicit flash: Flash)
@base("Login") {
       <div class="column left-400 max-width"> 
  <div class="rounded-white">
        @helper.form(routes.Application.authenticate) {
            
            @form.globalError.map { error =>
                <p class="error">
                    @error.message
                </p>
            }
            
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }
            
            <p>
                <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
            <p>
              <button type="submit" class="btn btn-primary">Login</button>
            </p>
            
            }
            </div>
            </div>
} 

