@(title: String, user : User = null)(content: Html)(implicit postBodyScripts:Html = new Html(""), leftColumnContent: Html = new Html(""))

<!DOCTYPE html>

<html>
    <head>
      <title>@title</title>
       @common.head()
      </head>
      <body>
        @common.githubRibbon()
      <div class="navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            @common.siteLogo()
            <div class="navbar">
              @common.user_bar(user)
              @common.menu()
            </div>
           </div>
          
        </div>
      </div>

      <div class="container-fluid nudge-top">
        <div class="row-fluid">
          <!-- left column 
          -->
            @leftColumnContent
          <!-- right column -->
         <div class="column left-400 max-width">
			      @content
         </div>
       </body>
       @postBodyScripts
</html>
