 /* 
===== Writing a puzzle is easy!
--- 1. Write the solution.
Write some code that uses the equality operator.
The puzzles are based on equality operators (==).
Because of this all you have to do is write some code that contains some equality tests.
So long as all these equality tests result in true, then you have some code that you can turn into a puzzle.

--- 2. Prepare your puzzle for saving
Once you have some code you're happy with, you need to mask some of the code
So that the user needs to fill in some blanks and your code will pass.

For example to mask 
Mary had a little lamb
you write: 
*/
// Mary had a little /*<*/lamb/*>*/
//here is the simplest puzzle you can write:
true == /*<*/true/*>*/
