<!-- load all the classes need for working with puzzles -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/InfoBox.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/EvaluationHighlighter.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/LoadingButton.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/SinglePuzzleView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/LoadingPane.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/PuzzlesView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/CreatePuzzleView.js")"></script>
<script type="text/javascript" src="/assets/javascripts/string-update-processor.js"></script>
