<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic|Pacifico' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/styles.css")">
<script src="/assets/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/javascripts/ace/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/javascripts/ace/theme-twilight-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/javascripts/ace/mode-scala-noconflict.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/assets/javascripts/prettify/prettify.js"></script>
<script type="text/javascript" src="/assets/javascripts/prettify/lang-scala.js"></script>
<link href="/assets/javascripts/prettify/prettify.css" type="text/css" rel="stylesheet" />

