<div class="modal" id="yourPuzzlesModal" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Your Puzzles is coming soon</h3>
  </div>
  <div class="modal-body">
    <p>We'll be adding this shortly - stay tuned..</p>
  </div>
</div>

<div class="modal" id="aboutModal" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>About</h3>
  </div>
  <div class="modal-body">
    <p>
    Scala Puzzles is a puzzle site for the programming language <a href="http://www.scala-lang.org/">Scala</a>.
    <br/>
    It is inspired by <a href="http://4clojure.com">4clojure.com</a> but its functionality has evolved in a different direction.

    It is meant to allow users to build up their knowledge through the medium of puzzles.
    <p/>
    <p>
    Currently there is a list of puzzles that start easy and become more difficult.
    <br/>
    You can also create your own puzzles to share with the world.
    </p>
    Please send feedback to ed[dot]eustace at google's mail thingy.
    </p>
  </div>
</div>

<div class="modal" id="helpModal" style="display: none;">
  <div class="modal-header">
    <!-- 
    TODO: using 'x' in the link below doesn't work
    Once deployed it turns into a '?'
    -->
    <a class="close" data-dismiss="modal" style="font-size: 11px;">close</a>
    <h3>Help</h3>
  </div>
  <div class="modal-body">
    <p>The list of puzzles is on the left.
    The highlighted puzzle contents are underneath this popup in a code editor.
    To solve the puzzle you just have to fill in all the '?' symbols, so that any evaluations
    within the puzzle evaluate to true.
    <br/>
    So if you have something like:
    <pre>true == ?</pre>
    replace ? with 'true' so that you have:
    <pre>true == true</pre>
    Because this evaluation will return true - you will have completed the puzzle successfully.
    <br/>
    <br/>
    Ctrl + R will run the test.
    <br/>
    <a href="signup">Sign up</a> and we'll keep track of your progress.
    </p>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
      $('.dropdown-toggle').dropdown();
      
      $("#aboutModalLink").click( function(e){
        $('#aboutModal').modal({
          backdrop: false
        });
        });


      $("#helpModalLink").click( function(e){
        $('#helpModal').modal({
          backdrop: false
        });
        });

      $("#yourPuzzlesModalLink").click( function(e){
        $('#yourPuzzlesModal').modal({
          backdrop: false
        });
        });
      
      });
    </script>
