@(message : String, currentPage: Page[Puzzle], currentOrderBy: Int, currentFilter: String, user : User = null, solutions : Seq[UserSolution] = null	)(implicit flash: play.api.mvc.Flash)

@****************************************
* Helper generating navigation links    *
****************************************@
@isSolved(puzzle: Puzzle, solutions : Seq[UserSolution]) = @{
     val ids = solutions.map (  _.puzzle_id.toString )
     if( ids.contains(puzzle.id.toString) ){
      true
     }else{
      false
     }
}

@writeSolutionsToJsObject(solutions:Seq[UserSolution]) = @{
  solutions.foreach( (s:UserSolution) => {
    "solution['"+s.puzzle_id+"'] = " + s.solution
  })
}

@firstUnsolvedPuzzle() = @{
 Option(currentPage.items).filterNot(_.isEmpty).map { puzzles =>
    val unsolvedPuzzle = 
        puzzles.find((p:Puzzle) => !isSolved(p, solutions))
    unsolvedPuzzle match{
      case None => puzzles.head.id
      case p: Option[Puzzle] =>  p.get.id
    }
   }.getOrElse(-1)
}

@countPuzzles() = @{
  Option(currentPage.items.size).getOrElse("?")
}

@countSolutions() = @{ solutions.size }

@htmlSafe(s:String) = @{
  var out = s.replace("\\", "\\\\")
  out = out.replace("\n", "\\n")
  out = out.replace("\"", "\\\"")
  Html(out)
}

@leftColumnContent = {

<div class="info-box">
    <span id="solvedInfo" class="pull-left" style="padding-top: 5px;"></span>
      <span class="pull-right">
        <a href="javascript:void(1)" id="prevButton" class="btn btn-small btn-large">Previous</a>
        <a href="javascript:void(1)" id="nextButton" class="btn btn-small btn-large">Next</a>
      </span>
</div>

<div class="holder">
  @Option(currentPage.items).filterNot(_.isEmpty).map { puzzles =>
    @puzzles.map { 
      case (puzzle) => {
         @views.html.puzzles.puzzleContainer(puzzle, isSolved(puzzle, solutions))
      }
    }
  }.getOrElse {)
    <div class="well">
       <em>Nothing to display</em>
    </div>
  }
</div>

}


@postBodyScript = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/PuzzlesView.js")"></script>
<script type="text/javascript" src="/assets/javascripts/string-update-processor.js"></script>

<script type="text/javascript">
  
  $(document).ready(function(){
      
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/twilight");
      editor.getSession().setTabSize(4);
      editor.setHighlightActiveLine(true);
      editor.setShowPrintMargin(false);
      editor.renderer.setShowGutter(true);
      var ScalaMode = ace.require("ace/mode/scala").Mode;
      editor.getSession().setMode(new ScalaMode());
      window.ace = (window.ace || {});
      window.ace.editor = editor;

      console.log("setting url to: /puzzles/solve")

      var existingSolutions = {};

      @solutions.map { s =>
      existingSolutions["@s.puzzle_id"] = "@htmlSafe(s.solution)";
      } 
      
      var puzzles = [];

      @Option(currentPage.items).filterNot(_.isEmpty).map { puzzles =>
        @puzzles.map { 
          case (puzzle) => {
            
            var puzzleData =  { 
                id: @puzzle.id,
                code: "@htmlSafe(puzzle.body)", 
                title: "@puzzle.name",
                description: "@puzzle.description",
                user: "@puzzle.user_name" }
            puzzles.push(puzzleData)
          }
       }
      }.getOrElse {
      }
      
      @writeSolutionsToJsObject(solutions)

      var view = new com.ee.PuzzlesView("/puzzles/solve", 
            editor,
            puzzles, 
            existingSolutions
            );

      var solvedSoFar = @countSolutions()
      var totalPuzzles = @countPuzzles()
      var firstUnsolvedId = @firstUnsolvedPuzzle();
      view.init(firstUnsolvedId, solvedSoFar, totalPuzzles);
      
      editor.commands.addCommand({
          name: 'myCommand',
          bindKey: {
              win: 'Ctrl-R',
              mac: 'Ctrl-R',
              sender: 'editor'
          },
          exec: function(env, args, request) {
            view.runCode();
          }
      });
  });
</script>


}

@mainContent = {

<div class="editor-main-area">

    <div class="padded-10 max-width run-bar">
      <div>
        <a href="javascript:void(1)" id="runButton" class="btn btn-primary btn-large"><i class="icon-play icon-white"></i> Run</a>
        &nbsp;
        <span class="title" id="main-puzzle-title"></span>
        &nbsp;
        -
        <span class="subheader" id="main-puzzle-subheader"></span>
      </div>
    </div>

    <pre id="editor">/* write your code here [Ctrl-R runs it]*/</pre>

    <div class="errorBoxHolder padded-10">

      <div id="errorBox" class="alert alert-error invisible">
      </div>
    </div> 
  </div> 
}


@main(message, user)(mainContent)(postBodyScript, leftColumnContent) 

