@(puzzle:Puzzle, isSolved : Boolean)

@getIconClass(solved:Boolean) = @{
  solved match {
    case true => "icon-white icon-ok"
    case false => "icon-white icon-cog"
  }
  }

@getIconColor(solved:Boolean) = @{
  solved match {
    case true => "green-bg"
    case false => "grey-bg"
  }
}


<div class="puzzle-container" id="_puzzle_@puzzle.id" data-puzzle-id="@puzzle.id">
  <table>
    <tr>
      <td width="20"><span class="@getIconColor(isSolved) puzzle-icon"><i class="@getIconClass(isSolved)"/></span></td>
      <td class="puzzle-title">
        <a class="puzzle-link pull-left" href="javascript:void(1)">&nbsp;@puzzle.name</a>
        <span class="pull-right label label-info">@puzzle.category</span>
    </td>
  </tr>
  </table>
</div>
<hr class="thin"/>
