@(key:String, puzzle : Puzzle, url : String)(implicit flash: play.api.mvc.Flash) 

@htmlSafe(s:String) = @{
  var out = s.replace("\\", "\\\\")
  out = out.replace("\n", "\\n")
  out = out.replace("\"", "\\\"")
  Html(out)
}


@postBodyScript = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/LoadingButton.js")"></script>
<script type="text/javascript" src="/assets/javascripts/string-update-processor.js"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/InfoBox.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/EvaluationHighlighter.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/SinglePuzzleView.js")"></script>
<script type="text/javascript">
  
  $(document).ready(function(){
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/twilight");
      editor.getSession().setTabSize(4);
      editor.setHighlightActiveLine(true);
      editor.setShowPrintMargin(false);
      editor.renderer.setShowGutter(true);
      var ScalaMode = ace.require("ace/mode/scala").Mode;
      editor.getSession().setMode(new ScalaMode());
      window.ace = (window.ace || {});
      window.ace.editor = editor;
      editor.getSession().setValue( "@htmlSafe(puzzle.body)" );
      console.log("setting url to: /puzzles/solve")

      var view = new com.ee.SinglePuzzleView( "/puzzles/solve", editor) 
      view.setPuzzle( "@htmlSafe(puzzle.body)" )
      editor.commands.addCommand({
          name: 'myCommand',
          bindKey: {
              win: 'Ctrl-R',
              mac: 'Ctrl-R',
              sender: 'editor'
          },
          exec: function(env, args, request) {
            view.runCode();
          }
      });
  });
</script>
}


@mainContent = {

<div class="full-width-editor-main-area"> 
  <div class="padded-10 max-width run-bar"> 
      <a 
        href="javascript:void(1)" 
        id="runButton" 
        class="btn btn-primary btn-large">
          <i class="icon-refresh"></i> Run
      </a>
      &nbsp;
      <span 
        class="title" 
        id="main-puzzle-title">Solve me!</span>
      &nbsp;
      @common.socialBadges(url)
  </div>
</div>

 
 
  <pre id="editor" style="top: 96px;" >/* write your code here [Ctrl-R runs it]*/</pre>

  <div class="errorBoxHolder padded-10">
    <div id="successBox" class="alert alert-success invisible"></div>
    <div id="errorBox" class="alert alert-error invisible"> </div>
  </div> 
  
</div>
}

@base("Scala Puzzles: [" +key + "]")(mainContent)(postBodyScript)

