@(puzzle : Puzzle)(implicit flash: play.api.mvc.Flash) 

@htmlSafe(s:String) = @{
  var out = s.replace("\\", "\\\\")
  out = out.replace("\n", "\\n")
  out = out.replace("\"", "\\\"")
  Html(out)
}



@leftColumnContent = {}


@postBodyScript = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/CreatePuzzleView.js")"></script>
<script type="text/javascript">
  
  $(document).ready(function(){
      
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/twilight");
      editor.getSession().setTabSize(4);
      editor.setHighlightActiveLine(true);
      editor.setShowPrintMargin(false);
      editor.renderer.setShowGutter(true);
      var ScalaMode = ace.require("ace/mode/scala").Mode;
      editor.getSession().setMode(new ScalaMode());
      window.ace = (window.ace || {});
      window.ace.editor = editor;
      editor.getSession().setValue( "@htmlSafe(puzzle.body)" );
      console.log("setting url to: /puzzles/solve")

      /*
      TODO: rejig the js
      Base Puzzle Handler - send solution parse response
      Then additional behaviour for the different pages.
      so for this page - if solution is successful - save option + facebook option too.
      */
      /*var existingSolutions = {};

      var view = new com.ee.CreatePuzzleView(
          "/puzzles/solve",
          "/puzzles/save", 
          editor, 
          editor.getSession().getValue(),
      
      editor.commands.addCommand({
          name: 'myCommand',
          bindKey: {
              win: 'Ctrl-R',
              mac: 'Ctrl-R',
              sender: 'editor'
          },
          exec: function(env, args, request) {
            view.runCode();
          }
      });*/
  });
</script>
}


@mainContent = {

<div class="editor-main-area">
  <div class="padded-10 max-width run-bar">
    <div>
      <a href="javascript:void(1)" id="testButton" class="btn btn-primary btn-large"><i class="icon-refresh"></i> Test</a>
      <a href="javascript:void(1)" id="testAndSubmitButton" class="btn btn-primary btn-large"><i class="icon-refresh"></i> Save</a>
        &nbsp;
        <span class="title" id="main-puzzle-title">Create a Puzzle</span>
        &nbsp;
        -
        <span class="subheader" id="main-puzzle-subheader">ooh!</span>
    </div>
    <div>
    
      
  </div>

  </div>

 
  <pre id="editor" >/* write your code here [Ctrl-R runs it]*/</pre>

  <div class="errorBoxHolder padded-10">
    <div id="successBox" class="alert alert-success invisible"></div>
    <div id="errorBox" class="alert alert-error invisible">
    </div>
  </div>  
</div>
}

@main("Solve me...", null)(mainContent)(postBodyScript, leftColumnContent)

